<div class="col s12 card">
  <div class="card-content">
    <% calendar_events(@user) %>
    <%= month_calendar events: @calendar_events, attribute: :calendar_date do |date, events| %>
      <%= date.strftime("%d") %>
      <% events.each do |event| %>
        <div>
          <strong><%= event.recipient.first_name %></strong><br>
          <%= event.occasion %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
