<% @user.recipients.each do |recipient| %>
  <% allEvents(recipient) %>
  <%= month_calendar events: @events, attribute: :calendar_date do |date, events| %>
    <%= date.strftime("%d") %>
    <% events.each do |event| %>
      <div>
        <strong><%= recipient.first_name %></strong><br>
        <%= event.occasion %>
      </div>
    <% end %>
  <% end %>
<% end %>
