<div class="card col s12 m6 z-depth-0">
  <table class="card-content">
    <thead>
      <tr>
        <td class="card-title">Ordered Gifts</td>
      </tr>
    </thead>
    <tbody>
      <% @user.recipients.each do |recipient| %>
        <% recipient.events.each do |event| %>
          <% event.orders.each do |order| %>
            <tr>
            <% if !order.confirmed_delivery %>
              <td>
                <strong><%= recipient.first_name %></strong> - <%= event.occasion %>
              </td>
              <td>
                <%= order.tracking_number %>
              </td>
              <td>
                <%= link_to "Confirm Receipt", edit_order_path(@user, order), :method => :patch %>
              </td>
            <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
