<div class="card col s12 m6 z-depth-0">
  <table class="card-content">
    <thead>
      <tr>
        <h5 class="card-title">Time to choose a gift!</h5>
      </tr>
      <tr>
        <th>For</th>
        <th>Choose a gift</th>
      </tr>
    </thead>
    <tbody>
      <% @user.recipients.each do |recipient| %>
        <% recipient.events.each do |event| %>
          <% if !event.orders.exists? %>
            <tr>
            <% if event.calendar_date < 14.days.from_now && event.calendar_date > 1.day.ago %>
              <td>
                <strong><%= recipient.first_name %></strong> - <%= event.occasion %>
              </td>
              <td>
                <%= link_to "view gift choices", gift_path(recipient, event) %>
              </td>
            <% end %>
            </tr>
            <% else %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
