<div class="card col m4 offset-m1 z-depth-0">
  <div class="card-content">
    <span class="card-title">Gift Ideas</span>
      <p>
        <%= form_for @recipient, url: recipient_path do |f| %>
          <%= f.text_area :gift_ideas, class:"materialize-textarea", placeholder:"New idea..." %>
          <%= f.submit "Save", class:"btn" %>
        <% end %>
    </p>
  </div>
</div>
