<div class="card col s12 z-depth-0">
  <table class="card-content">
    <thead>
      <h5 class="card-title">Past Gifts</h5>
      <tr>
        <th>Gift</th>
        <th>Occasion</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% sortPastEvents(@recipient.events).each do |event| %>
        <tr>
          <td>
            <% if event.orders.exists? %>
              <% event.gifts.each do |gift| %>
                <%= gift.item %>
              <% end %>
            <% else %>
              No gift this time around!
            <% end %>
          </td>
          <td>
            <%= event.occasion %>
          </td>
          <td>
            <%= event.calendar_date.strftime("%B %d, %Y") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
