<div class="card col s12 z-depth-0">
  <table class="card-content">
    <thead>
      <h5 class="card-title">Upcoming Gifts</h5>
      <tr>
        <th>Occasion</th>
        <th>Date</th>
        <th>Delete event?</th>
      </tr>
    </thead>
    <tbody>
      <% sort_upcoming_events(@recipient.events).each do |event| %>
        <tr>
          <td>
            <%= event.occasion %>
          </td>
          <td>
            <%= event.calendar_date.strftime("%B %d, %Y") %>
          </td>
          <td>
            <% if !event.orders.exists? %>
              <%= link_to delete_recipient_event_path(@recipient, event), method: :delete do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            <% else %>
              Gift already ordered!
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
