<body id="index">
  <div class="row">
    <div class="col s6 offset-s3 center white-text">
      <h1>Gifter</h1><br>
    </div>
    <div class="col s12 center white-text">
      <h3>You schedule. We curate. They get happy.</h3>
    </div>
  </div>
</body>
