<div class="col s12 m5">
  <div class="card">
    <div class="card-image">
      <img src= <%= "#{@gift.image}" %> >
    </div>
    <div class="card-content">
      <strong><%= @gift.item %></strong><br>
      <%= number_to_currency @gift.price %>
    </div>
  </div>
</div>
