// Place all the styles related to the Recipients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section.scrollspy {
  height: 50vh;
}

.btn-small {
  line-height: 0px;
  margin: 1.5rem 0 .5rem 1rem;
  padding: 0 1rem;
  text-transform: capitalize;
  height: 30px;
  width: auto;
  font-size: .9em;
}

.create-btn-small {
  line-height: 0px;
  margin: 1rem 0 2rem 0;
  padding: 0 1rem;
  text-transform: capitalize;
  height: 30px;
  width: auto;
  font-size: .9em;
}

#recipient-card {
  margin-top: 30px;
}
